

input {
  width: min-content;
  margin: 0.4rem;
}
.panel {
    width: 200px;
    position: absolute;
    background-color: rgb(27, 11, 54);
    color: white
}

fieldset {
  border-color: rgb(33, 38, 39);
  border-style: solid;
}